{% extends 'base.html'%} {% load static %} {% block content %}

<section class="hero-section">
  <nav>
    <div class="nav-wrapper">
      <a href="/">
        <h4>Places</h4>
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="title">
      Places

      <h5>I want to go</h5>
    </div>
    <div class="images">
      <div class="image-wrapper" id="first">
        <img src="{% static 'images/1.png' %}" alt="" />
      </div>
      <div class="image-wrapper" id="second">
        <img src="{% static 'images/2.png' %}" alt="" />
      </div>
      <div class="blur"></div>
    </div>
  </div>
</section>
<div class="content">
  <div class="section">
    <div class="wrapper">
      <h2 class="subtitle">Gallery</h2>
      <div class="gallery-container">
        {% for place in places %}
        <div class="project">
          <figure>
            <img src="{{place.img.url}}" alt="{{place.name}}" />
            <figcaption>
              <div>
                <h3>{{place.name}}</h3>
                <p class="cta">{{place.location}}</p>
              </div>
            </figcaption>
          </figure>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- {% if user.is_authenticated %} {{user.first_name}}
    <a href="accounts/logout">Logout</a>
    {% else %}

    <a href="accounts/register">Register</a>
    <a href="accounts/login">Login</a>
    {% endif %} -->

{% endblock %}
